.carousel {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.slides {
    display: flex;
    flex-direction: row;
    object-fit: contain;
    width: 230.4878048780488vh;
    height: 64.78658536585365vh;
}

.slides div {
    object-fit: contain;
}

h5 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 5.487804878048781vh;
    line-height: 6.859756097560975vh;
    color: #FFFFFF;
}

p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 2.4390243902439024vh;
    line-height: 3.048780487804878vh;
    color: #000000;
}

img {
    object-fit: contain;
}

#slide-1 {
    background: linear-gradient(89.73deg, #7B872D 40.45%, rgba(123, 135, 45, 0) 75.15%);
}

#slide-2 {
    background: linear-gradient(270.01deg, #7B872D 67.7%, rgba(123, 135, 45, 0) 115.45%);
}

#slide-3 {
    background: linear-gradient(89.78deg, #7B872D 55%, rgba(123, 135, 45, 0) 107.46%);
}

#slide-4 {
    background: linear-gradient(270.01deg, #7B872D 67.7%, rgba(123, 135, 45, 0) 115.45%);
}