.carousel {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.slides {
    display: flex;
    flex-direction: row;
}

.slides div {
    padding: 50px;
}

h5 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
    margin: 0;
}

p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

img {
    object-fit: contain;
}

#slide-1 h5 {
    text-align: left;
    width: 466px;
    height: 186.95px;
}

#slide-1 p {
    text-align: left;
    width: 396px;
    height: 63px;
}

#slide-1 img {
    width: 913px;
    height: 425px;
}

#slide-1 {
    height: 425px;
    background: linear-gradient(89.73deg, #7B872D 40.45%, rgba(123, 135, 45, 0) 75.15%);
}

#slide-2 {
    background: linear-gradient(270.01deg, #7B872D 67.7%, rgba(123, 135, 45, 0) 115.45%);
}

#slide-3 {
    background: linear-gradient(89.78deg, #7B872D 55%, rgba(123, 135, 45, 0) 107.46%);
}

#slide-4 {
    background: linear-gradient(270.01deg, #7B872D 67.7%, rgba(123, 135, 45, 0) 115.45%);
}