.homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
}

.home-div {
    display: flex;
    justify-content: center;
}

#involved {
    display: flex;
    flex-direction: column;
    text-align: center;
}