.homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-div {
    display: flex;
    justify-content: center;
}

#impact {
    background: #EEE0C8;
}

#impact-div {
    text-align: center;
}

#impact-div p {
    color:#A49380;
}

#involved {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#events {
    background: #5A93A4;
}