.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10%;
    height: 10%;
}

.donate-button {
    border: none;
    background-color: #FFA629;
    border-radius: 6px;
    width: 19.88795518207283vh;
    height: 5.913165266106443vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    size: 3.361344537815126vh;
    line-height: 30.17px;
    color: white;
}

.App-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0px;
    font-size: calc(10px + 2vmin);
}

.logo-header {
    display: flex;
    flex-direction: column;
    margin: 0 10%;

}

.logo {
width: 175px;
height: 103px;
}

.title {
width: 165px;
height: 41px;
font-style: normal;
font-weight: 600;
font-size: 11px;
letter-spacing: -0.2px;
}

.search-bar {
border: none;
outline: none;
border-bottom: 2px solid black;

}

.search-icon {
border: none;
background-color: rgba(255, 255, 255, 0);
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}