.homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-div {
    display: flex;
    justify-content: center;
}

#focus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#focus-div {
    display: flex;
    padding: 0 2vh;
}

#focus-div div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 33%;
}

.focusVector {
    display: flex;
    justify-content: center;
}

#left-div {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}

#leftVector {
    height: 94.15625px;
    width: 122.8125px;
}


#center-div {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}

#centerVector {
    height: 96.8023910522461px;
    width: 105.98802947998047px;
}

#right-div {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}

#rightVector{
    height: 115px;
    width: 115px;
}

#impact {
    background: #EEE0C8;
}

#events {
    background: #5A93A4;
}